/*Quiz Home Page*/
/* High-Score and Timer Header */
.page-header{
    display: flex;
    justify-content: space-between;
}
#time-Counter{
    color: rgb(79, 14, 79);
}

/*Quiz Start Section*/
.quiz-home-page{
    text-align: center;
}

#game-title{
    font-size: 32px;
}

/*Quiz Questions Section*/
h2 {
    text-align: center;
    font-size: 22px;
    display: block;
   }

 ol{
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    display: block;
    font-size: 22px;
    
}  
#quiz{
    display: flex;
    align-items: center;
    justify-content: center;
}
#a, #b, #c, #d{
    list-style-type: none;
    font-size: 22px;
    align-items: center;
    margin: 0 auto;
    
}

/* #a, #b, #c, #d{
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
} */


.quiz-content{
    display: none;
}
   

/*Start Quiz Button*/
#start-quiz-button, #submit-quiz-button{
    background-color: purple;
    color: white;
    font-size: 24px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */
footer{
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 24px;
    background-color: rgb(194, 129, 194);  
}