/*Quiz Home Page*/

/* High-Score and Timer Header */
.page-header{
    display: flex;
    justify-content: space-between;
}
#time-Counter{
    color: rgb(79, 14, 79);
}

/*Quiz Start Section*/
.quiz-home-page{
    text-align: center;
}

#game-title{
    font-size: 32px;
}

/*Quiz Questions Section*/
ol, h2 {
    list-style-type: none;
    text-align: center;
    font-size: 22px;
   }
li{
    text-align: left;
    justify-content: center;
}

.quiz-content{
    display: none;
}
   

/*Start Quiz Button*/
#start-quiz-button, #submit-quiz-button{
    background-color: purple;
    color: white;
    font-size: 24px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */
footer{
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 24px;
    background-color: rgb(194, 129, 194);  
}